{% extends 'admin_base.html' %}
{% load static %}
{% block data %}

<div class="row-fluid sortable ui-sortable">
    <div class="box span9" style="">
        <div class="box-header">
            <h2><i class="halflings-icon white font"></i><span class="break"></span>一键生成推文视频软件介绍</h2>
        </div>
        <div class="box-content">
            <h1>软件介绍</h1>
            <hr>
            <h2>最新内容请访问GIT链接 <a class="btn btn-small btn-primary" href="https://github.com/Escaflowne1985/NovelAIUser">点这里跳转 Escaflowne1985 / NovelUser</a></h2>
            <hr>
            <table>
                <tr>
                    <th>应用功能</th>
                    <th>软件描述</th>
                    <th>主要功能</th>
                </tr>
                <tr>
                    <td>图文一键成片</td>
                    <td>基于SD结合GPT制作文字一键成片。SD进行图片绘制，剪映合成视频。</td>
                    <td>
                        <ul>
                            <li>小说黄金5秒文案</li>
                            <li>LoRA控制</li>
                            <li>GPT生成关键词</li>
                            <li>SD自动绘图</li>
                            <li>TTS文字配音</li>
                            <li>自动添加关键帧</li>
                            <li>剪映合成</li>
                            <li>分镜头精细加工</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>视频格式处理</td>
                    <td>基于算法对视频进行抽帧/补帧/插针，以及场景切割随机组合。</td>
                    <td>
                        <ul>
                            <li>视频基础视觉处理</li>
                            <li>视频抽帧</li>
                            <li>视频补帧</li>
                            <li>视频插帧</li>
                            <li>视频场景切合随机组合</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>影视解说克隆</td>
                    <td>基于现有的影视解说视频，提取稿件，洗稿重新组合。使用该功能结合之前的视频格式处理。</td>
                    <td>
                        <ul>
                            <li>视频文字提取</li>
                            <li>TTS文字配音</li>
                            <li>使用GPT改写文案</li>
                            <li>匹配视频素材速率合成</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <h2>使用注意</h2>

            <p>通过git clone后需要自行更新三方库和插件，基础换进请联系管理员获取。</p>
            <p>执行【01.机器识别码.bat】将机器码提供给管理员开通账号。</p>
            <p>执行【02.更新三方库.bat】更新python三方依赖库，部分更新不成功需要科学上网，或者多点几次。</p>
            <p>执行【03.更新数据库指令.bat】更新本地数据库，由于长期更新不同的功能使用的数据库均在本地因此需要更新。</p>
            <p>执行【04.在线更新.bat】为在线更新程序代码。</p>
            <p>执行【05.启动Web服务.bat】保证2，3，4部分更新号之后可以启动Web服务使用软件。</p>

            <h2>使用说明</h2>

            <ul>
                <li>
                    <a href="https://github.com/Escaflowne1985/NovelAIUser/blob/master/ReadDocument/02.%E7%8E%AF%E5%A2%83%E5%AE%89%E8%A3%85%E4%B8%8E%E6%9B%B4%E6%96%B0.md">环境安装与更新</a>
                </li>
                <li>
                    <a href="https://github.com/Escaflowne1985/NovelAIUser/blob/master/ReadDocument/03.%E6%9C%AC%E5%9C%B0%E5%92%8C%E4%BA%91%E7%AB%AF%E9%85%8D%E7%BD%AE.md">本地和云端配置</a>
                </li>
                <li>
                    <a href="https://github.com/Escaflowne1985/NovelAIUser/blob/master/ReadDocument/%E3%80%90%E6%95%99%E7%A8%8B%E3%80%91SD%E5%9B%BE%E6%96%87%E8%BD%AC%E8%A7%86%E9%A2%91.md">【教程】SD图文转视频</a>
                </li>
                <li>
                    <a href="https://github.com/Escaflowne1985/NovelAIUser/blob/master/ReadDocument/%E3%80%90%E6%95%99%E7%A8%8B%E3%80%91%E8%A7%86%E9%A2%91%E6%89%B9%E9%87%8F%E5%A4%84%E7%90%86.md">【教程】视频批量处理</a>
                </li>
                <li>
                    <a href="https://github.com/Escaflowne1985/NovelAIUser/blob/master/ReadDocument/%E3%80%90%E6%95%99%E7%A8%8B%E3%80%91%E8%A7%86%E9%A2%91%E8%A7%A3%E8%AF%B4%E5%85%8B%E9%9A%86.md">【教程】视频解说克隆</a>
                </li>
            </ul>

            <h2>Python虚拟环境</h2>
            <p>从管理员处获取python的虚拟环境目录。确保你的环境目录是这样的。</p>
            <p><img src="https://img-blog.csdnimg.cn/2671f479bca6423a8b6bd3b5190a816d.png" alt="在这里插入图片描述"></p>

            <h2>账号操作</h2>
            <p>本地系统：【默认用户名】：root 【默认密码】：123456</p>
            <p>云端系统：【默认用户名】：你的QQ号 【默认密码】：联系管理员</p>
            <p>云端密码需要登录后自己修改，忘记密码只能找管理员重置</p>

            <h2>功能介绍和演示视频专栏</h2>
            <p><a href="https://space.bilibili.com/3493106383063541/channel/collectiondetail?sid=1353270">NovelAI 自制软件视频专栏 Bilibili</a></p>
            <p>能想到的视频都在里面了。</p>
            <p><img src="https://img-blog.csdnimg.cn/73eaf91542dc45ca893a05ef678095d8.png" alt="在这里插入图片描述"></p>

            <h2>软件更新日志</h2>
            <p><a href="https://github.com/Escaflowne1985/NovelAIUser/blob/master/ReadDocument/01.%E6%9B%B4%E6%96%B0%E6%97%A5%E5%BF%97.md">更新日志直接查看这里</a></p>
            <p>每次更新的内容都会有简单的描述。</p>
            <p><img src="https://img-blog.csdnimg.cn/a1f8f757241e4cd5b79343e81093cc55.png" alt="在这里插入图片描述"></p>

            <h2>欢迎加入讨论组织</h2>
            <p>QQ群：670870515</p>


        </div>
    </div>
    <div class="box span3">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon white list"></i><span class="break"></span>演示视频</h2>
        </div>
        <video width="320" height="640" controls>
            <source src="http://127.0.0.1/media/video.mp4" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}