{% extends 'admin_base.html' %}
{% load static %}
{% block data %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    h1 {
        font-size: 24px;
        color: #333;
    }

    h2 {
        font-size: 18px;
        color: #555;
    }

    hr {
        border: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.5em;
    }

    .btn-primary {
        background-color: cornflowerblue;
    }

    p.red-text {
        color: cornflowerblue;
        margin-top: 5px;
        font-size: 1.5em;
    }
</style>

<div class="row-fluid sortable ui-sortable">
    <div class="box span9" style="">
        <div class="box-header">
            <h2><i class="halflings-icon white font"></i><span class="break"></span>一键生成推文视频软件介绍</h2>
        </div>
        <div class="box-content">
            <h2>最新内容请访问 <a class="btn btn-small btn-primary" href="https://github.com/Escaflowne1985/NovelAIUser">Escaflowne1985/NovelAIUser</a></h2>
            <hr>
            <h2>使用说明、注意事项、功能介绍、环境配置、更新日志等内容均在此，欢迎加入讨论组织</h2>
            <a href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=zzlZ9jz7V7m4xLMzoGoqxaqNqK76ElIs&authKey=iHobw5NmsvTwtGUpxthjRo%2FA7C6idwrI6es5PoD1pJLsROg8lrJpNmAlAsVKw9CC&noverify=0&group_code=670870515"
               target="_blank">
                <p class="red-text">点击链接加入群聊【Mr数据杨粉丝群】,QQ群：670870515</p>
            </a>
            <hr>
            <h2>账号注册</h2>
            <a href="https://github.com/Escaflowne1985/NovelAIUser#%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E">
                <p>测试用户需要自行准备微软TTS等api秘钥，具体使用详见使用教程，点这里进行跳转</p></a>
            <form method="POST" action="{% url 'Registration' %}" class="form-horizontal">
                {% csrf_token %}
                <div class="controls">
                    <input class="input-xlarge focused" name="user_name" type="text" value="填写你的QQ号注册">
                    <button type="submit" id="addButtonPrefix" class="btn btn-primary">账号注册</button>
                    <p class="red-text">{{msg}}</p>
                </div>
            </form>
            <hr>
            <h1>软件功能</h1>
            <table>
                <tr>
                    <th>应用功能</th>
                    <th>软件描述</th>
                    <th>主要功能</th>
                </tr>
                <tr>
                    <td>图文一键成片</td>
                    <td>基于SD结合GPT制作文字一键成片。SD进行图片绘制，剪映合成视频。</td>
                    <td>
                        <ul>
                            <li>小说黄金5秒文案</li>
                            <li>LoRA控制</li>
                            <li>GPT生成关键词</li>
                            <li>SD自动绘图</li>
                            <li>TTS文字配音</li>
                            <li>自动添加关键帧</li>
                            <li>剪映合成</li>
                            <li>分镜头精细加工</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>视频格式处理</td>
                    <td>基于算法对视频进行抽帧/补帧/插针，以及场景切割随机组合。</td>
                    <td>
                        <ul>
                            <li>视频基础视觉处理</li>
                            <li>视频抽帧</li>
                            <li>视频补帧</li>
                            <li>视频插帧</li>
                            <li>视频场景切合随机组合</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>影视解说克隆</td>
                    <td>基于现有的影视解说视频，提取稿件，洗稿重新组合。使用该功能结合之前的视频格式处理。</td>
                    <td>
                        <ul>
                            <li>视频文字提取</li>
                            <li>TTS文字配音</li>
                            <li>使用GPT改写文案</li>
                            <li>匹配视频素材速率合成</li>
                        </ul>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="box span3">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon white list"></i><span class="break"></span>演示视频</h2>
        </div>
        <video width="320" height="640" controls>
            <source src="http://127.0.0.1/media/video.mp4" type="video/mp4">
        </video>
    </div>
</div>

<!--<script>-->
<!--    function refresh() {-->
<!--        localStorage.setItem('scrollPosition', window.pageYOffset || document.documentElement.scrollTop);-->
<!--        window.location.reload();-->
<!--    }-->
<!--</script>-->
{% endblock %}