{% extends 'admin_base.html' %}
{% load static %}
{% block data %}

<div class="row-fluid sortable ui-sortable">
    <div class="box span9" style="">


        <div class="box-header">
            <h2><i class="halflings-icon white font"></i><span class="break"></span>Step7 批量睡觉完成</h2>
        </div>
        <div class="box-content">
            <div class="row-fluid">
                <div class="span10">
                    <h2>使用说明</h2>
                    <p>1.需要admin管理后台中的进行设置后才可以使用
                        <button>
                            <a href="http://127.0.0.1/xadmin/Data1/videobasesetting/" target="_blank">admin后台跳转</a>
                        </button>
                        所有设置只能设置一条哟。
                    </p>
                    <p>2.被处理的视频统一放在 VideoProcess\video\base 目录下，文件名不要有中文</p>
                    <p>3.插帧和加帧操作需要提前在 VideoProcess\video\image 目录下放置素材图片</p>
                    <p>4.执行处理都是批量执行，会把之前生成的结果都被覆盖</p>
                </div>
            </div>
            <div class="row-fluid sortable ui-sortable">
                <p>
                    <a href="{% url 'Video_Step_Base_View'%}" class="btn btn-primary">执行基础处理操作</a>
                </p>
                <p>
                    <a href="{% url 'Video_Step_Insert_View'%}" class="btn btn-primary">执行插帧操作</a>
                <p>
                    <a href="{% url 'Video_Step_Add_View'%}" class="btn btn-primary">执行加帧操作</a>
                </p>
                <p>
                    <a href="{% url 'Video_Step_RandomCut_View'%}" class="btn btn-primary">执行按场景随机拆分，使用原来的音频</a>
                </p>
            </div>
        </div>
    </div>


    <div class="box span3">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon white list"></i><span class="break"></span>常用</h2>
        </div>
        <div class="box-content">
            <ol>
                <li><a href="http://datayang.cn:9999/xadmin" class="btn btn-primary">云管理后台</a></li>
                <li><a href="http://127.0.0.1/xadmin" class="btn btn-primary">本地管理后台</a></li>
                <li><a href="https://azure.microsoft.com/zh-cn/products/cognitive-services/text-to-speech/"
                       class="btn btn-primary">微软TTS</a></li>
                <li>
                    <a href="https://auth.zhishuyun.com/auth/login?inviter_id=501cdcee-9887-4837-98a0-580df563add8&redirect=https://data.zhishuyun.com"
                       class="btn btn-primary">知数云</a></li>
                <li><a href="https://chat.openai.com/" class="btn btn-primary">ChatGPT</a></li>
            </ol>
        </div>
    </div>
</div>

{% endblock %}